<!DOCTYPE html>
{% load static %}
<html lang="zh">
<head>
    <title>
        {% block title %}
        阿尔卑斯的雪
        {% endblock %}
    </title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block meta %}
    <meta name="keywords" content="python,Django,blog,Web,阿尔卑斯的雪">
    <meta name="description" content="阿尔卑斯的雪的博客,提供技术分享的个人博客网站" />
    {% endblock %}

    <meta name="author" content="AlpsSnow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <!-- Favicons -->
    <link rel="shortcut icon" href="{% static 'blog/image/icon/favicon.dj.ico' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/3.3.7/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap/3.3.7/js/bootstrap.min.js' %}"></script>

</head>

<body>
    <!--header部-->
    <header>
        {% include "blog/header.html" %}
    </header>

    <!--主体-->
    <main>
        <!--左侧-->
        <section>
            {% block content %}
            {% endblock %}
        </section>

        <!--右侧-->
        <aside>
            {% include "blog/right.html" %}
        </aside>
    </main>

    <!---底部-->
    <footer>
        {% include "blog/footer.html" %}
    </footer>
</body>

</html>