<!DOCTYPE html>
{% load static %}
<html lang="zh">

<head>
    <title>
        {% block title %}
        阿尔卑斯的雪
        {% endblock %}
    </title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block meta %}
    <meta name="keywords" content="python,Django,blog,Web,阿尔卑斯的雪">
    <meta name="description" content="阿尔卑斯的雪的博客,提供技术分享的个人博客网站" />
    {% endblock %}

    <meta name="author" content="AlpsSnow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Favicons -->
    <link rel="shortcut icon" href="{% static 'blog/image/icon/favicon.dj.ico' %}">

    <!-- 引入bootstrap的css文件 -->
    <link rel="stylesheet" href="{% static 'bootstrap/3.3.7/css/bootstrap.min.css' %}">
    <!-- 引入jquery的js文件 -->
    <script src="{% static 'jquery/3.4.1/jquery.js'%}"></script>
    <!-- 引入bootstrap的js文件 -->
    <script src="{% static 'bootstrap/3.3.7/js/bootstrap.min.js' %}"></script>

    <!-- 引入blog的css文件 -->
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">

</head>

<body>
    <!--header部-->
    <header style="top: 0px; width: 100%; position: fixed; z-index: 1;">
        {% include "blog/header.html" %}
    </header>

    <!--主体-->
    <main style="padding: 80px;">
        <div class="row">
            <div class="hidden-xs hidden-sm col-sm-1 col-sm-1 col-md-1 col-lg-1">
                <!--最左侧保留-->
            </div>
            <div class="col-sm-12 col-sm-6 col-md-6 col-lg-6">
                <!--左侧-->
                <section style="padding: 10px;">
                    {% block content %}
                    {% endblock %}
                </section>
            </div>
            <div class="hidden-xs col-sm-4 col-md-4 col-lg-4">
                <!--右侧-->
                <aside style="padding: 10px;">
                    {% include "blog/right.html" %}
                </aside>
            </div>
            <div class="hidden-xs hidden-sm col-sm-1 col-sm-1 col-md-1 col-lg-1">
                <!--最右侧保留-->
            </div>
        </div>
    </main>

    <!---底部-->
    <footer>
        {% include "blog/footer.html" %}
    </footer>
</body>

</html>