<!--博文详细画面-->
{% extends "blog/base.html" %}
{% block content %}
<!--引入markdown标签-->
{% load markdown_deux_tags %}
<!--博文详细-->
<div class="article">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">{{ object.title }}</h3>
        </div>
        <div class="panel-body">
            <!--添加markdown过滤-->
            <p>{{ object.content | markdown }}</p>
        </div>
        <div class="panel-footer">
            <div class="article-footer">
                <ul>
                    <li>
                        {% if object.author == user %}
                        <a class="btn btn-info btn-sm mt-1 mb-1" href="{% url 'blog:update' object.id %}" title="更新博文">更新</a>
                        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'blog:delete' object.id %}" title="删除博文">删除</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}