{% load static %}
<div container >
    <nav class="navbar navbar-default" role="navigation">
        <div class="row">
            <div class="hidden-xs col-sm-2 col-md-2 col-lg-2" style="padding: 15px;">
                <img src="{% static 'blog/image/AlpsSnow.logo.png' %}" alt="logo">
            </div>
            <div class="hidden-xs hidden-sm col-md-2 col-lg-2 text-primary" style="padding: 15px;">
                通知：今天特别放假一天
            </div>
            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#example-navbar-collapse">
                        <span class="sr-only">切换导航</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#" style="color: #5bc0de;">阿尔卑斯的雪</a>
                </div>
                <div class="collapse navbar-collapse" id="example-navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li ><a href="{% url 'blog:index' %}" style="color: #5bc0de;">首页</a></li>
                        <li><a href="{% url 'blog:archive'%}" style="color: #5bc0de;">存档</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: #5bc0de;">
                                分类 <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                {% for category in category_list %}
                                    <li>
                                        <a href="{% url 'blog:category' category_id=category.id %}" style="color: #5bc0de;">
                                            <span>{{ category.name }}</span>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li><a href="{% url 'blog:about'%}" style="color: #5bc0de;">关于</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url 'register' %}" style="color: #5bc0de;"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                        <li><a href="#" style="color: #5bc0de;"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
                    </ul>
                </div>

            </div>
            <div class="hidden-xs hidden-sm hidden-md col-lg-2">
                <!--最右侧保留-->                
            </div>
        </div>
    </nav>
</div>