<!--关注我-->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">关注我</h3>
    </div>
    <div class="panel-body">
        panel 类容
    </div>
</div>

<!--新闻资讯-->
<div class="panel panel-default news">
    <div class="panel-heading">
        <h3 class="panel-title">资讯</h3>
    </div>
    <div class="panel-body">
        <ul>
            <li><i class="el-cloud"></i>
                <iframe id="tianqi" scrolling="no" frameborder="0" allowtransparency="true"
                    src="http://i.tianqi.com/index.php?c=code&a=getcode&id=34&h=25&w=280">
                </iframe>
            </li>
            <li><i class="el-calendar"></i>历史今天：
                <iframe
                    src="http://www.todayonhistory.com/code/6.html?w=250&h=20&bky=dotted&bks=0&fs=14&fc=#565656&hg=14&ie=0&xhx=none&sd=300&px=3&len=0&sk=1&n=0"
                    width="250" height="15" scrolling="no" frameborder="0" allowtransparency="true">
                </iframe>
            </li>
        </ul>
    </div>
</div>

<!--搜索-->

<!--文章排行-->

<!--标签-->
<div class="panel panel-default tags">
    <div class="panel-heading">
        <h3 class="panel-title">云标签</h3>
    </div>
    <div class="panel-body" id="tags-panel-body">
        <ul>
            {% for tag in tag_list %}
            <li>
                <a href="#" title="标签：{{ tag.name }} ">
                    <span class="label tags_labe">{{ tag.name }}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<!--友情链接-->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">友情链接</h3>
    </div>
    <div class="panel-body">
        panel 类容
    </div>
</div>

<script type="text/javascript">
    var tagslabes = document.getElementsByClassName('tags_labe');
    var labesclass = new Array()
    labesclass[0] = "label-default"
    labesclass[1] = "label-primary"
    labesclass[2] = "label-success"
    labesclass[3] = "label-info"
    labesclass[4] = "label-warning"
    labesclass[5] = "label-danger"
    var n = 0;

    for (let i = 0; i < tagslabes.length; i++) {
        if (n === 6) {
            n = 0;
        }
        tagslabes[i].classList.add(labesclass[n]);
        n++;        
    }

</script>