<aside class="myaside">
        <!--关注我-->
        <div class="focus-me bg-color animation-div">
            <h4 class="index-title"><i class="el-heart"></i>关注我
                <small>Focus Me</small>
            </h4>
        </div>

        <!--新闻资讯-->    
        <div class="clos-new bg-color animation-div">
            <h4 class="index-title"><i class="el-bulb"></i>最新资讯
                <small>Latest News</small>
            </h4>
        </div>
        
        <!--搜索-->
    
        <!--文章排行tab-->
    
        <!--标签-->
        <div>
            <h4 class="index-title"><i class="el-tags"></i>标签云
                <small>Tags Clouds</small>
            </h4>
        </div>    
    
        <!--友情链接-->
    </aside>