.blog-header{
    top: 0px; 
    width: 100%;
    position: fixed;
    z-index: 1;
}

.blog-header li:hover{
    background-color: #e7e7e7;
}

.arclist ul{
    padding-left: 0px;
}
.arclist li{
    list-style:none;
}

.article-footer ul{
    list-style:none;
}
.article-footer ul li{
    /*float: left;*/
    padding: 0 5px;
    color: #888;
    display: inline-block;
}

/*
.article-footer ul li:last-child{
    float: right;
}
*/

.news ul{
    padding-left: 0px;
}
.news li{
    list-style:none;
}

#tianqi{
    height: 30px;
}

.tags ul{
    padding-left: 0px;
}

.tags ul li{
    list-style:none;
    padding: 0 5px;  
    float: left;
    margin: 0 2px;
}