.blog-header{
    top: 0px; 
    width: 100%;
    position: fixed;
    z-index: 1;
}

.blog-header li:hover{
    background-color: #e7e7e7;
}

.arclist ul{
    padding-left: 0px;
}
.arclist li{
    list-style:none;
}

.article-footer ul{
    list-style:none;
}
.article-footer ul li{
    /*float: left;*/
    padding: 0 5px;
    color: #888;
    display: inline-block;
}

.news ul{
    padding-left: 0px;
}
.news li{
    list-style:none;
}

#tianqi{
    height: 30px;
}

.tags ul{
    padding-left: 0px;
}

.tags ul li{
    list-style:none;
    padding: 0 5px;  
    float: left;
    margin: 0 2px;
}

/* users app*/
.profile-img{
    float: left;
    position: relative;
}
.rounded-circle{
   border: 1px solid #e6ebf2;
   border-radius: 50%; 
}
.account-img{
    width: 64px;
    height: 64px;
}
.profile-info{
    margin-left: 80px;
    font-size: 13px;
    word-wrap:break-word;

}
.profile-base{
    overflow: hidden;
    margin: 12px 0;
    font-size: 14px;
    line-height: 1.2;
}
.profile-info p{    
    line-height: 1.4;
    font-size: 13px;
    margin: 0;
}